body {
  background-color: #F3F7FF;
  font-family: 'Hanken Grotesk', sans-serif;
 
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}
.pagination{
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.active-page {
 
  background-color: transparent;
  color: #212b36;
  text-decoration: none;
}

// .header > .container-fluid,
// .sidebar-header {
//  // min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
// }
.card-dashboard{
  height: 115px; 
 width: auto;
  border: 1px; 
  border-radius: 5px; 
  color: #566BA0;
  text-transform: uppercase;
  margin-bottom: 1rem;}

 


.card-title{
  color: #566BA0;
font-weight: 400;
font-size: 12px;
}

.card-text{
  font-size: 28px;
  
}

@media (max-width: 768px) {
  .card-title{
    

  font-size: 8px;
  }
  
  .card-text{
    font-size: 18px;
    
  }
  .main-chart{
    display: flex;
    flex-direction: col;
  }
 }
.dashboard-chart{
  display: flex;
  flex-direction: row;
}
.sidebar-brand-full {

  width: fit-content;
}

.header-row{
  display: flex;
  justify-content: start;
  align-items: center;
 
}

.tab-search {
  display: flex;
  justify-content: end;
  margin-bottom: -25px;
}
.user-name{
  color:#9999BC;
  font-size: 16px;
  padding-top: .75rem;
 
}

.main-chart{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 23px;
}
.user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
background: #ECEEF5;
border-radius: 20px;
opacity: 40%;
font-weight: 500;
font-size: 12px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}
.refresh{
  display: flex;
  justify-content: start;
  align-items: center;
 
}

.refresh p {
  padding-top: .75rem;
}




.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}


